*{
    box-sizing: border-box;
}
body{
    background-color: #D6B7B7;
}
.container{
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF;
    padding: 56px 20px 91px 22px;
}
/* menu button */
button{
    border: none;
    background-color: #FFF;
    margin: 0 6px;
    padding: 0;
}
/* elements with 24px left spacing */
input,.menu-categories,.menu-items {
    margin-left: 2px;
}
input{
    width: 100%;
    border-radius: 12px;
    background: #EFEFEF;
    padding: 15px 15px 14px 15px;
}
/* horisontal menu for item categories */
.menu-categories{
    font-size: 0;
    margin-top: 29px;
    margin-bottom: 32px;
}
/* categories displayed in horizontal menu */
.category{
    display: inline-block;
    text-align: center;
    font-size: medium;
    margin-right: 24px;
    width: 74px;
}
.category:last-child{
    margin-right: 0;
}
.category div{
    border-radius: 12px;
    height: 74px;
    line-height: 74px;  /* to apply vertical-align:middle to images*/
    background: #EFEFEF;
}
.category div img{
    margin: auto;
    vertical-align: middle;
}
.category h4{
    margin: 6px;
    color: #C4C4C4;
}
/* hover */
.category:hover div{
    background-color: #EAE2B7;
}
.category:hover h4{
    color: black;
}
/* vertical menu of choosen items */
.menu-items h2{
    margin: 26px 0;
}
.item{
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    margin-bottom: 12px;
    height: 88px;
}
.item:last-child{
    margin-bottom: 0;
}
.item div{
    display: inline-block;
    box-shadow: none;
    margin: 22px 0 0 0;
    padding: 0;
    vertical-align: top;
}
.item div p{
    margin: 8px 0;
    padding: 0;
}
.item .item-img-container{
    width: 89px;
    text-align: center;
    margin: 0;
}
/* The following two selectors and the special form of the properties in the previous one are added because of different height of the image #BigMacImage */
.item div img{
    margin-top: 22px;
}
#BigMacImage{
    margin-top: 6px;
}

.item div p:last-of-type{
    color: #D62828;
}